.maintext {
    border-bottom: 1px solid #aaa; 
    margin-bottom: 10px; 
    text-align: center;
    font-size: 22pt;
}
.justtext {
    margin-top: 10px;
    color: #124533;
    align: left;
    font-size: 18pt;
}
.linktext {
    margin-top: 5px;
    border-bottom: 1px solid #666; 
    align: left;
    font-size: 18pt;
}
.linktext a {
    color: #652986;
}
.linktext a:hover {
    color: #457939;
}
.justtable {
    text-align: center;
    align: center;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin: auto;
    font-size: 16pt;
}
.justheadertable {
    background-color: #758073;
    color: #330032;
}
.justrow {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
.justrow td {
    border-style: solid;
    border-width: 1px;
    border-color: #201008;
}
.justheadertable th {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbff;
}

#bodycenter { 
    width: 1080px; 
    margin: auto;
    text-align: left;
    background-color: #cde6e0;
}
#gtpmenu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#gtpmenu nav ul li {
  float: left;
}
#gtpmenu nav ul li a {
  display: block;
  padding: 7px;
  color: white;
  text-align: center;
  background-color: #657063;
}
#gtpmenu nav ul li a:hover {
  background-color: #111;
}
