.maintext {
    border-bottom: 1px solid #aaa; 
    margin-bottom: 10px; 
    text-align: center;
    text-size: 24pt;
}
.justtext {
    margin-top: 10px;
    color: #225533;
    align: left;
    text-size: 20pt;
}
.justtable {
    text-align: center;
    align: center;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin: auto;
}
.justheadertable {
    background-color: #99aa89;
    color: #330032;
}
.justrow {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

#bodycenter { 
    width: 960px; 
    text-align: left;
}
