body {
    font-size:150%;
    margin: 0;
    line-height:1;
}
button {
  padding: 2px;
  margin: 2px;
   border: solid 1px transparent;
   border-radius: 10px;
  font: inherit;
  color: #ffffff;
  background-color: #617365;
  cursor: pointer;
}
.sortsel {
  padding: 2px;
  margin: 2px;
  font: inherit;
  background-color: #c1d8d5;
}
.itempart1, .itempart2, .itempart3 {
    vertical-align: top;
    margin-left:1%;
    display:inline-block;
    word-wrap: break-word;
}
.itempart1 {    
    width: 24%;
}
.itempart2 {
    max-width: 170px;
    width:24%;
}
.itempart2 div button {
    width: 100%;
}
.itempart2 > details {
    width: 100%;
}
.itempart3 {
    width: 49%;
}
.itempart3 span {
    font-size:80%;
}
.maintext {
    border-bottom: 1px solid #aaa; 
    margin-bottom: 10px; 
    text-align: center;
    font-size: 120%;
}
.justtext {
    margin-top: 10px;
    color: #124533;
    /*font-size: 18pt;*/
}
.linktext {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #666; 
    /*font-size: 18pt;*/
}
.linktext a {
    margin-left: 10px;
    border-bottom: 1px solid #bbb;
    color: #652986;
}
.linktext a:hover {
    margin-left: 10px;
    color: #457939;
    border-bottom: 1px solid #fff;
    background-color: #d2d4a3;
}
.linktext a:visited {
    color: #652986;
}
.justtable {
    text-align: center;
    align: center;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin: auto;
    /*font-size: 14pt;*/
}
.justheadertable {
    background-color: #758073;
    color: #330032;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.justrow {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
.justrow td {
    border-style: solid;
    border-width: 1px;
    border-color: #201008;
}
.justheadertable th {
    border-style: solid;
    border-width: 2px;
    border-color: #002200;
    /*position: -webkit-sticky;
    position: sticky;
    top: 0;*/
}

.bodycenter { 
    font-family: "Times New Roman", Times, serif;
    max-width: 1070px; 
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: #cfefe2;
}

.gtpmenu {
    line-height:1;
}
.gtpmenu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.gtpmenu nav ul li {
  float: left;
  margin: 0;
}
.gtpmenu nav ul li a, .gtpmenu nav ul li p {
  display: block;
  padding: 7px;
  color: white;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  background-color: #657063;
}
.gtpmenu nav ul li a:hover, .gtpmenu nav ul li p:hover {
  background-color: #111;
}

details {
    display:inline-block;
}
details summary::-webkit-details-marker {
  display:none;
}
details summary {
  padding: 2px;
  margin: 2px;
   border: solid 1px transparent;
   border-radius: 10px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #617365;
  cursor: pointer;
}
details p {
  font-size:80%;
}

@media screen and (max-width: 1090px) {
  body {
    background-color: lightblue;
    font-size:210%;
  }
  .bodycenter { 
    width: device-width;
  }
}
