<!doctype html>
<title>GTP StoRAGE</title>
<html >
<head>
<meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    
    <script src="https://nordicmaster.github.io/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    
<script type="text/javascript">
var myApp = angular.module('myApp', []);
var caruselApp = angular.module('caruselApp', []);
    console.log("test");
    angular.bootstrap(document.getElementById("carusel"), ['caruselApp']);
    console.log("test2");
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js"></script>
<script src="https://nordicmaster.github.io/js/Carusel.js"></script>    
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://nordicmaster.github.io/css/style.css" />
    <!-- fucking jivosait <script src="//code.jivosite.com/widget.js" data-jv-id="Awyvi4TOyl" async></script> -->
</head>
    

<body>
<div id="bodycenter">
<div ng-app='myApp'>
    <ng-include src="'part_menu.html'">
    </ng-include>
    <div ng-controller="linkController"> 
        <p class="justtext">
        GTP Storage - средство для отображения гитарпро файлов и их данных, находящихся в репозитории nordicmaster/guitarpros.
        Возможность изменять файлы и описания к ним есть у всех пользователей github. Но только после Pull request
        </p>
        
        <div ng-hide="linkJson">Загрузка...</div>        
    </div>
    <ng-include src="'part_footer.html'">
    </ng-include>
</div>
<div id="carusel" ng-strict-di> <!-- <div id="carusel" ng-app='caruselApp'> -->
    <!-- добавить карусель отсюда https://angular-ui.github.io/bootstrap/ -->
        <div ng-controller="CarouselDemoCtrl">
          <div style="height: 200px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <div uib-slide ng-repeat="slide in slides" index="slide.id">
                <img ng-src="slide.image">
                <div> <!-- <div class="carousel-caption"> -->
                  <h4>Slide {{slide.id}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
              <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="noWrapSlides">
                  Disable Slide Looping
                </label>
              </div>
            </div>
            <div class="col-md-6">
              Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
              <br />Enter a negative number or 0 to stop the interval.
            </div>
          </div>
        </div>
    

</div>
</div>
</body>
</html>
