<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
    <link rel="stylesheet" href="https://nordicmaster.github.io/css/style.css" />
    <link rel="icon" href="https://nordicmaster.github.io/favicon.ico" type="image/x-icon">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body>
    <div class="bodycenter">
        <ng-include src="'part_menu.html'">
        </ng-include>
        <br>
    <div class="maintext">Nordic Master github page</div>
    <div class="justtext">
        Covers ever played by Nordic Master
    </div>
    <div ng-controller="gtpController"> 

        <div ng-hide="coversJson">Loading...</div>

           <div ng-repeat="item in coversJson | orderBy:sortparam" class="justrow">
                 <div class="itempart1">
                     <p>{{item.author}} - {{item.name}}</p>
                 </div>
                 <div class="itempart2">
                     <div><details>
                         <summary ng-click='renew(item)'>Show text</summary>                     
                         <div ng-hide="item.text">Loading...</div><p>{{item.text}}</p>
                        </details>
                     </div>
                     <div><button ng-click='pdfeah(item)'>Download text</button></div>
                 </div>
                 <div class="itempart3">
                     Info: 
                     <span>Recorded:&nbsp;{{item.recorded}}</span>
                 </div>
           </div>
           <p>Total covers played: {{totalplayed}} </p>
           <p>Total covers recorded: {{totalrecorded}} </p>

        </div><!-- controller-->
        <ng-include src="'part_footer.html'">
        </ng-include>
    </div><!--bodycenter-->
</body>
</html>
