<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
    <link rel="stylesheet" href="https://nordicmaster.github.io/css/style.css" />
    <link rel="icon" href="https://nordicmaster.github.io/favicon.ico" type="image/x-icon">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body class="bodytype">
    <div class="font fullwidth align-left padding bgcol0 maxwidth marginauto">
        <ng-include src="'part_menu.html'">
        </ng-include>
        <br>
        <div class="align-center bigtext maintext borderbottom marginbottom">Nordic Master github page</div>
        <div class="margintop col1">
            Covers ever played by Nordic Master
        </div>
        <div ng-controller="gtpController"> 
            <div ng-hide="coversJson">Loading...</div>

            <div ng-repeat="item in coversJson | orderBy:'author'" class="solid border-black">
                 <div class="inlineblock fourthwidth marginleft" style="width:44%;">
                     <b>{{item.author}}</b> - {{item.name}}
                 </div>
                 <div class="inlineblock fourthwidth marginleft" style="width:18%;">
                     <span style="font-size:80%;">Recorded:&nbsp;{{item.recorded}}</span>
                 </div>
                 <div class="inlineblock fourthwidth marginleft" style="width:33%;">
                     <span style="vertical-align:top;">
                         <button class="button-like bgcol1" ng-click='pdfeah(item)'>Download text</button>
                     </span>
                     <span>
                        <details class="inlineblock">
                         <summary class="button-like align-center bgcol3" ng-click='renew(item)'>Show text</summary>                     
                         <div ng-hide="item.text">Loading...</div><p class="smalltext">{{item.text}}</p>
                        </details>
                     </span>                     
                 </div>
            </div>
            <p>Total covers played: {{totalplayed}} </p>
            <p>Total covers recorded: {{totalrecorded}} </p>
        </div><!-- controller-->
        <ng-include src="'part_footer.html'">
        </ng-include>
    </div><!--bodycenter-->
</body>
</html>
