<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8" name="yandex-verification" content="a45fa50bc67e60da" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="https://nordicmaster.github.io/css/style.css" />
    <link rel="icon" href="https://nordicmaster.github.io/favicon.ico" type="image/x-icon">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/lastfmController.js"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body class="bodytype">
    <div class="font fullwidth align-left padding bgcol0 maxwidth marginauto">
        <ng-include src="'part_menu.html'">
        </ng-include>
        <br>
    <div class="align-center bigtext maintext borderbottom marginbottom">Nordic Master github page</div>
    <div class="margintop col1">
        Collection of guitarpro files made by Nordic Master
    </div>
    <div ng-controller="gtpController"> 

        <div ng-hide="textJson">Loading...</div>
            <!-- ORDER BY-->
            <br>
            Sort by:
            <select class="button-like bgcol2 col1" ng-model="sortparam">
              <option value="ID">ID</option>
              <option value="name">name</option>
              <option value="created_date">created_date</option>
              <!--<option value="last_modified_date">last_modified_date</option>-->
              <option value="version">version</option>
              <option value="instruments_count">instruments_count</option>
              <option value="track_count">track_count</option>
              <option value="tacts">tacts</option>
              <option value="tempo">tempo</option>
              <option value="tonality">tonality</option>
              <option value="signature">signature</option>
              <option value="finished">GTP finished</option>
              <option value="lyric_finished">text finished</option>
              <option value="recorded">recorded</option>
            </select>
            <br><br>

           <div ng-repeat="item in textJson | orderBy:sortparam" class="solid border-black">
                 <div class="inlineblock vertical-align marginleft fourthwidth">
                     <a href="https://raw.githubusercontent.com/nordicmaster/guitarpros/master/{{item.ID}}.gp5" 
                        download="{{item.ID}} ({{item.name}})">{{item.ID}}</a>&nbsp;{{item.name}}
                 </div>
                 <div class="inlineblock vertical-align marginleft fourthwidth">
                     <details class="inline-block">
                         <summary class="button-like align-center bgcol1" ng-click='renew(item)'>Show text</summary>                     
                         <div ng-hide="item.text">Loading...</div><p class="smalltext">{{item.text}}</p>
                     </details>                     
                     <div><button class="button-like bgcol1 fullwidth" ng-click='pdfeah(item)'>Download text</button></div>
                     <div class="button-like bgcol1 fullwidth align-center"><a class="fullwidth align-center" href="src/structure/{{item.ID}}.txt" 
                        download="{{item.ID}} ({{item.name}})">Structure</a></div>
                 </div>
                 <div class="inlineblock vertical-align marginleft halfwidth smalltext">
                     Info: 
                     <span>Created:&nbsp;{{item.created_date}};</span>
                     <!--<span>Modified:&nbsp;{{item.last_modified_date}}</span>
                     <span>Version:&nbsp;{{item.version}}</span>-->
                     <span>Instruments:&nbsp;{{item.instruments_count}};</span>
                     <span>Tracks:&nbsp;{{item.track_count}};</span>
                     <span>Tacts:&nbsp;{{item.tacts}};</span>
                     <span>Tempo:&nbsp;{{item.tempo}};</span>
                     <span>Tonality:&nbsp;{{item.tonality}};</span>
                     <span>Signature:&nbsp;{{item.signature}};</span>
                     <span>Length:&nbsp;<span ng-if="!(isNaN(item.tacts) || isNaN(item.tempo))">{{2 * item.tacts * 120 / item.tempo | number : 2}}&nbsp;sec</span>
                     </span>
                     <span>GTP finished:&nbsp;{{item.finished}};</span>
                     <span>Text finished:&nbsp;{{item.lyric_finished}};</span>
                     <span>Recorded:&nbsp;{{item.recorded}};</span>
                 </div>
           </div>
           <p>Total GTP finised: {{totalgtp}} </p>
           <p>Total Text finised: {{totaltext}} </p>
           <p>Total Recorded: {{totalrec}} </p>       


           <p class="margintop marginbottom borderbottom"> Soundcloud pages: <br>
            <a class="marginleft col2" href="https://soundcloud.com/user-912533495-638345693/viking-song">Viking song</a><br>
            <a class="marginleft col2" href="https://soundcloud.com/user-912533495-638345693/dream-of-better-life">Dream Of Better Life</a><br>
              Bandcamp pages: <br>
            <a class="marginleft col2" href="https://nordicmaster.bandcamp.com/track/viking-song">Viking song</a><br>
            <a class="marginleft col2" href="https://nordicmaster.bandcamp.com/track/fortune">Fortune</a><br>
            <a class="marginleft col2" href="https://nordicmaster.bandcamp.com/track/unexpected-rescue">Unexpected Rescue</a><br>
            <a class="marginleft col2" href="https://nordicmaster.bandcamp.com/track/dark-land-dwellers">Dark Land Dwellers</a><br>
          </p>
        </div><!-- controller-->
        <div ng-controller="lastfmController"> 
                <div ng-hide="lastfmJson">Loading...1</div>
                <p>{{lastfmJson.length}} songs are scrobbled on Last.fm:</p>
            <div ng-repeat="x in lastfmJson | orderBy:'-playcount'" class="justrow inlineblock vertical-align marginleft fullwidth">
              <span class="halfwidth">{{x.name}}</span>
              <span class="halfwidth">&nbsp; - {{x.playcount}} times</span>
            </div>
        </div><!-- controller-->
        <ng-include src="'part_footer.html'">
        </ng-include>
    </div><!--bodycenter-->
</body>
</html>
