<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://nordicmaster.github.io/css/style.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body>
<div id="bodycenter">
    <ng-include src="'part_menu.html'">
    </ng-include>
    <br>
<div class="maintext">Nordic Master github page</div>
<div class="justtext"><!--TODO: 
  <ul>
    <li> find some free BD and filestore (e.g. github.com/nordicmaster/guitarpros) </li>
    <li> place here a table with information about gtps </li>
    <li> ability to add\edit\delete gtps </li>  
  </ul>
Also, will it be an SPA or several pages?  -->
    Collection of guitarpro files made by Nordic Master
</div>
<div ng-controller="gtpController"> 
<!--  <p ng-click="changeClass($event)"> Click this text (angularjs) </p>
  <p> {{gtp.text}} </p>
 
<p>TODO: fetch data from json
  <a href="" ng-click="fetchJson();changeParam('ID');"> now </a></p>-->
<div ng-hide="textJson">Loading...</div>
<table class="justtable" onload="changeParam('ID');">
   <tr class="justheadertable">
     <th ng-click="changeParam('ID');">ID</th>
     <th ng-click="changeParam('name');">Song Name</th>
     <th ng-click="changeParam('created_date');">Created Date</th>
     <th ng-click="changeParam('last_modified_date');">Last Modified Date</th>
     <th ng-click="changeParam('version');">Version</th>
     <th ng-click="changeParam('instruments_count');">Instruments Count</th>
     <th ng-click="changeParam('track_count');">Track Count</th>
     <th ng-click="changeParam('tacts');">Tacts Count</th>
     <th ng-click="changeParam('tempo');">Tempo</th>
     <th ng-click="changeParam('tonality');">Tonality</th>
     <th ng-click="changeParam('signature');">Time Signature</th>
     <th>Length</th>
   </tr>
   <tr ng-repeat="item in textJson | orderBy:sortparam" class="justrow">
     <td><a href="https://raw.githubusercontent.com/nordicmaster/guitarpros/master/{{item.ID}}.gp5" download>{{item.ID}}</a></td>
     <td>
         <div class="dropdown">
  <span>{{item.name}}</span>
  <div class="dropdown-content">
    <p>{{item.text}}</p>     <!-- сделать перенос по строкам. вместо \n должен отображаться перенос -->
      <a href="" onclick='pdfeah({{item}})'>Download text</a>
  </div>
</div>
    </td>
     <td ng-bind="item.created_date"></td>
     <td ng-bind="item.last_modified_date"></td>
     <td>{{item.version}}</td>
     <td>{{item.instruments_count}}</td>
     <td>{{item.track_count}}</td>
     <td>{{item.tacts}}</td>
     <td>{{item.tempo}}</td>
     <td>{{item.tonality}}</td>
     <td>{{item.signature}}</td>
     <td> <div ng-if="!(isNaN(item.tacts) || isNaN(item.tempo))">{{2 * item.tacts * 120 / item.tempo | number : 2}} sec </div> </td>
   </tr>
  </table>
  <p class="linktext"> Soundcloud pages: <br>
    <a href="https://soundcloud.com/user-912533495-638345693/viking-song">Viking song</a><br>
    <a href="https://soundcloud.com/user-912533495-638345693/dream-of-better-life">Dream Of Better Life</a><br>
      Bandcamp pages: <br>
    <a href="https://nordicmaster.bandcamp.com/track/viking-song">Viking song</a><br>
    <a href="https://nordicmaster.bandcamp.com/track/fortune">Fortune</a><br>
    <a href="https://nordicmaster.bandcamp.com/track/unexpected-rescue">Unexpected Rescue</a><br>
    <a href="https://nordicmaster.bandcamp.com/track/dark-land-dwellers">Dark Land Dwellers</a><br>
  </p>
</div>
    
    <ng-include src="'part_footer.html'">
    </ng-include>
</div>
</body>
</html>
<!-- для загрузки конкретного файла https://raw.githubusercontent.com/user/repository/branch/filename 
или https://github.com/downloads/user/repository/filename
как можно сделать, чтобы выводился список файлов?-->

<script>

function pdfeah(item) {
        console.log("item = "+item);
        var docInfo = { 
         info: {
          title:'Тестовый документ PDF',
          author:'Viktor',
          subject:'Theme',
          keywords:'Ключевые слова'
         },

         pageSize:'A4',
         pageOrientation:'landscape',//'portrait'
         pageMargins:[50,50,30,60],

         header:function(currentPage,pageCount) {
          return {
         text: currentPage.toString() + 'из' + pageCount,
         alignment:'right',
         margin:[0,30,10,50]
          }
         },

         footer:[
          {
         text:'нижний колонтитул',
         alignment:'center',//left  right
          }
         ],

         content: [

          {
         text:'Текст определенного параграфа',
         fontSize:20,
         margin:[150,80, 30,0]
         //pageBreak:'after'
          },

          {
         text:'Текст определенного параграфа № 2',
         style:'header'
         //pageBreak:'before'
          }
         ]
        }
    pdfMake.createPdf(docInfo).download('name.pdf');
}
</script>
