<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://nordicmaster.github.io/css/newstyle.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
  var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body>
  <div id="pack">
    <div id="blackside"  ng-controller="gtpController" class="blackside" onclick='blackit()'>
      <span style="font-size: 3em">Nordic&nbsp;</span><br>
      <button id="back1" class="back" onclick="restore(event)">back</button>
      <br>
      <div id="contentblack" class="contentblack">
          Content Black <br>
              <!-- ORDER BY-->
            Sort by:
            <select class="sortsel" ng-model="sortparam">
              <option selected value="ID">ID</option>
              <option value="name">name</option>
              <option value="created_date">created_date</option>
              <option value="last_modified_date">last_modified_date</option>
              <option value="version">version</option>
              <option value="instruments_count">instruments_count</option>
              <option value="track_count">track_count</option>
              <option value="tacts">tacts</option>
              <option value="tempo">tempo</option>
              <option value="tonality">tonality</option>
              <option value="signature">signature</option>
            </select>
            <br><br>
        <div ng-repeat="item in textJson | orderBy:sortparam" class="justrow">
           <div class="itempart1">
               <a href="https://raw.githubusercontent.com/nordicmaster/guitarpros/master/{{item.ID}}.gp5" 
                  download="{{item.ID}} ({{item.name}}).gp5">{{item.ID}}&nbsp;{{item.name}}</a>
           </div>
           <div class="itempart2">
               <div>
                 <details>
                   <summary ng-click='renew(item)'>Show text</summary>                     
                   <div ng-hide="item.text">Loading...</div><p>{{item.text}}</p>
                 </details>
               </div>
               <div><button ng-click='pdfeah(item)'>Download text</button></div>
           </div>
           <div class="itempart3">
               Info:              
               <span>Tempo:&nbsp;{{item.tempo}}</span>
               <span>Tonality:&nbsp;{{item.tonality}}</span>
               <span>Signature:&nbsp;{{item.signature}}</span>
               <span>Length:&nbsp;<span ng-if="!(isNaN(item.tacts) || isNaN(item.tempo))">{{2 * item.tacts * 120 / item.tempo | number : 2}}&nbsp;sec</span>
               </span>
           </div>
        </div>
    </div>
  </div>
  <div id="whiteside" class="whiteside" ng-controller="gtpController" onclick='whiteit()'>
    <span style="font-size: 3em">Master</span><br>
    <button id="back2" class="back" onclick="restore(event)">back</button>
      <br>
   <div id="contentwhite" class="contentwhite">
        Content White
    <p>
      GTP Storage - средство для отображения гитарпро файлов и их данных, находящихся в репозитории nordicmaster/guitarpros.
      Возможность изменять файлы и описания к ним есть у всех пользователей github. Но только после Pull request
    </p>
    <p>
    To support Nordic Master you can: <br>
        - Donate for new recordings<br>
        - Inform about nice cubase plugins (with downloadable links)<br>
        - Invite NM to some performances and festivals ♫♫
    </p>
     <div ng-hide="lastfmJson">Loading...1</div>
    <div ng-repeat="item in lastfmJson" class="justrow"> 
      <div>{{item.name}}&nbsp;{{item.playcount}}</div>
    </div>
    <p>
      <a href="https://soundcloud.com/user-912533495-638345693/">Soundcloud</a><br>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" 
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/716981203&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      <br>
      <a href="https://nordicmaster.bandcamp.com/">Bandcamp</a><br>
      Also, subscibe to 
      <a href="https://www.youtube.com/channel/UCqNjPvkYI3BqNstzePzeUMA">Youtube channel</a>
      and
      <a href="https://vk.com/club12899135">VK group</a>
    </p>
   </div>
  </div>
 </div>
</body>
</html>
<script>
  function blackit() {
    console.log('blackit');
    document.getElementById("blackside").style.width = '100%';
    document.getElementById("whiteside").style.width = '0%';
    document.getElementById("whiteside").style.display='none';
    document.getElementById("back1").style.display='block';
    document.getElementById("contentblack").style.visibility='visible';
  }
  function whiteit() {
    console.log('whiteit');
    document.getElementById("whiteside").style.width = '100%';
    document.getElementById("blackside").style.width = '0%';
    document.getElementById("blackside").style.display='none';
    document.getElementById("back2").style.display='block';
    document.getElementById("contentwhite").style.visibility='visible';
  }
  function restore(e) {
    console.log('restore');
    e.stopPropagation();
    document.getElementById("whiteside").style.width = '49%';
    document.getElementById("blackside").style.width = '50%';
    document.getElementById("whiteside").style.display='inline-block';
    document.getElementById("blackside").style.display='inline-block';
    document.getElementById("back1").style.display='none';
    document.getElementById("back2").style.display='none';
    document.getElementById("contentblack").style.visibility='hidden';    
    document.getElementById("contentwhite").style.visibility='hidden';  
  }
</script>
