<!doctype html>
<title>GTP StoRAGE</title>
<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://nordicmaster.github.io/css/newstyle.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
var myApp = angular.module('myApp', []);
</script>
<script src="https://nordicmaster.github.io/js/gtpController.js?ax=65"></script>
<script src="https://nordicmaster.github.io/js/pdfmake.js"></script>
<script src="https://nordicmaster.github.io/js/pdffonts.js"></script>
<body>

  <div id="blackside" class="blackside" onclick='blackit()'>
    Nordic&nbsp;<br>
    <button id="back1" class="back" onclick="restore(event)">back</button>
    <br>
    <div ng-repeat="item in textJson | orderBy:sortparam" class="justrow">
         <div class="itempart1">
             <a href="https://raw.githubusercontent.com/nordicmaster/guitarpros/master/{{item.ID}}.gp5" 
                download="{{item.ID}} ({{item.name}}).gp5">{{item.ID}}</a>&nbsp;{{item.name}}
         </div>
         <div class="itempart2">
             <!--<div class="dropdown">
                <span>{{item.name}}</span>
                <div class="dropdown-content">
                <p>{{item.text}}</p>    
                
                </div>
             </div>-->
             <div><button ng-click='pdfeah(item)'>Show text</button></div>
             <div><button ng-click='pdfeah(item)'>Download text</button></div>
         </div>
         <div class="itempart3">
             Info:              
             <span>Tempo:&nbsp;{{item.tempo}}</span>
             <span>Tonality:&nbsp;{{item.tonality}}</span>
             <span>Signature:&nbsp;{{item.signature}}</span>
             <span>Length:&nbsp;<span ng-if="!(isNaN(item.tacts) || isNaN(item.tempo))">{{2 * item.tacts * 120 / item.tempo | number : 2}}&nbsp;sec</span>
             </span>
         </div>
      </div>
  </div>
  <div id="whiteside" class="whiteside" onclick='whiteit()'>
    Master<br>
    <button id="back2" class="back" onclick="restore(event)">back</button>
  </div>
  
</body>
</html>
<script>
  function blackit() {
    console.log('blackit');
    document.getElementById("blackside").style.width = '100%';
    document.getElementById("whiteside").style.width = '0%';
    document.getElementById("back1").style.display='block';
  }
  function whiteit() {
    console.log('whiteit');
    document.getElementById("whiteside").style.width = '100%';
    document.getElementById("blackside").style.width = '0%';
    document.getElementById("back2").style.display='block';
  }
  function restore(e) {
    console.log('restore');
    document.getElementById("whiteside").style.width = '49%';
    document.getElementById("blackside").style.width = '50%';
    document.getElementById("back1").style.display='none';
    document.getElementById("back2").style.display='none';
    e.stopPropagation();
  }
</script>
